{% extends '_base.html' %}
{% load custom_links %}
{% load helpers %}

{% block header %}
    <div class="row noprint">
        <div class="col-sm-8 col-md-9">
            <ol class="breadcrumb">
                <li><a href="{% url 'ipphone:phone_list' %}">Phone Numbers</a></li>
                <li>{{ phone }}</li>
            </ol>
        </div>
        <div class="col-sm-4 col-md-3">
            <form action="{% url 'ipphone:phone_list' %}" method="get">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search Numbers" />
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary">
                            <span class="fa fa-search" aria-hidden="true"></span>
                        </button>
                    </span>
                </div>
            </form>
        </div>
    </div>
    <div class="pull-right noprint">
        {% if perms.ipphone.change_phone %}
            <a href="{% url 'ipphone:phone_edit' pk=phone.pk %}" class="btn btn-warning">
                <span class="fa fa-pencil" aria-hidden="true"></span>
                Edit this Number
            </a>
        {% endif %}
        {% if perms.ipphone.delete_phone %}
            <a href="{% url 'ipphone:phone_delete' pk=phone.pk %}" class="btn btn-danger">
                <span class="fa fa-trash" aria-hidden="true"></span>
                Delete this Number
            </a>
        {% endif %}
    </div>
    <h1>{% block title %}{{ phone }}{% endblock %}</h1>
    {% include 'inc/created_updated.html' with obj=phone %}
    <div class="pull-right noprint">
        {% custom_links phone %}
    </div>
    <ul class="nav nav-tabs">
        <li role="presentation"{% if not active_tab %} class="active"{% endif %}>
            <a href="{{ phone.get_absolute_url }}">Phone Number</a>
        </li>
        {% if perms.extras.view_objectchange %}
            <li role="presentation"{% if active_tab == 'changelog' %} class="active"{% endif %}>
                <a href="{% url 'ipphone:phone_changelog' pk=phone.pk %}">Changelog</a>
            </li>
        {% endif %}
    </ul>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Phone Number</strong>
            </div>
            <table class="table table-hover panel-body attr-table">
                <tr>
                    <td>Status</td>
                    <td>
                        <span class="label label-{{ phone.get_status_class }}">{{ phone.get_status_display }}</span>
                    </td>
                </tr>
                <tr>
                    <td>Partition</td>
                    <td>
                        {% if phone.ipphonepartition %}
                            <span><a href="{{ phone.ipphonepartition.parent.get_absolute_url }}">{{ phone.ipphonepartition.parent }}</a> ({{ phone.ipphonepartition }})</span>
                        {% else %}
                            <span class="text-muted">&mdash;</span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td>{{ phone.description|placeholder }}</td>
                </tr>
                <tr>
                    <td>Assignment</td>
                    <td>
                        {% if phone.interface %}
                            <span><a href="{{ phone.interface.parent.get_absolute_url }}">{{ phone.interface.parent }}</a> ({{ phone.interface }})</span>
                        {% else %}
                            <span class="text-muted">&mdash;</span>
                        {% endif %}
                    </td>
                </tr>
            </table>
        </div>
        {% include 'inc/custom_fields_panel.html' with obj=phone %}
        {% include 'extras/inc/tags_panel.html' with tags=phone.tags.all url='ipphone:phone_list' %}
	</div>
</div>
{% endblock %}
